

    <div class="container">
    <div class="row">

        <div id="divangular2tree" class="col-centered">
            <p>Angular 2 Checkbox Tree</p>
            <div class="col-md-4">
            <p-tree [value]="data" >
                <template let-node  pTemplate ="default" >
                    <input type="checkbox" [(ngModel)]="node.selected"
                     [indeterminate]="node.partialSelection" (ngModelChange)="nodeSelected(node)">
                    <span style="margin-left: 6px">{{node.Title}}</span>
                </template>
            </p-tree>
            </div>
            <div class="col-md-4">
            <p>Selected Nodes: <span [hidden]="selectedNodes.length">No nodes selected.</span></p>
            <ul>
                <li *ngFor="let node of selectedNodes">{{node}}</li>
            </ul>
            </div>

              <div class="col-md-4">
            <p>Selected Nodes Names: <span [hidden]="selectedNodeNames.length">No nodes selected.</span></p>
            <ul>
                <li *ngFor="let node of selectedNodeNames">{{node}}</li>
            </ul>
            </div>
        </div>
    </div>

  <!--<h3>Multiple Selection with Checkbox</h3>
  <my-ptree2></my-ptree2>-->
</div>